repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-ast
  - id: check-added-large-files
    args: [--maxkb=500]
  - id: check-byte-order-marker
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/Woile/commitizen
  rev: v1.23.0
  hooks:
    - id: commitizen
      stages: [commit-msg]

-   repo: https://github.com/MartinThoma/check-pip-compile
    rev: 0.1.0
    hooks:
    -   id: check-pip-compile
        args: ['requirements/production.in', 'requirements/development.in']

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: [ "--filter-files" ]

- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
    language_version: python3.9

- repo: https://github.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-bugbear
      - flake8-comprehensions
      - flake8-simplify

- repo: https://github.com/asottile/pyupgrade
  rev: v2.31.0
  hooks:
  - id: pyupgrade
    args: [--py39]

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v2.5.1
  hooks:
  - id: prettier
    exclude: ^Pipfile\.lock

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.931
  hooks:
  - id: mypy
    args: [--ignore-missing-imports]
    exclude: ^docs/source/conf.py
    additional_dependencies:
      - types-dataclasses >= 0.1.3
      - lxml
      {% if cookiecutter.command_line_interface|lower == 'click' -%}
      - types-click
      {%- endif %}

- repo: https://github.com/PyCQA/bandit
  rev: 1.7.1
  hooks:
  -  id: bandit
