# https://packaging.python.org/guides/using-manifest-in/

{% if cookiecutter.create_author_file == 'y' -%}
include AUTHORS.md
{% endif -%}
include CHANGELOG.md
include LICENSE
include README.md
{%- if cookiecutter.use_logging == 'y' %}
include src/{{ cookiecutter.pkg_name }}/logging_config.yaml{% endif %}

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
